<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title>Akademia Ikub</title>
</head>
  <body>
    <h1>Akademia Ikub</h1>
    <div>Kjo eshte faqja e pare e ndertuar me spring boot dhe thymeleaf</div>
    <div th:text="|Shuma e 2 + 2 = ${ 2 + 2 }|">shuma e 2+2 = 4</div>
  </body>
</html>